body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: #eee;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.user-item+.user-item { border-top: 1px solid #eee; }

.modal-card-body{
  text-align: left;
}
.card-content{
  text-align: left;
}

.media .media-content{
  text-align: center;
}

.user-item .media .media-content{
  text-align: left;
}

.question-container{
  text-align: left;
  background: white;
}

.questions{
  margin-bottom: .5rem;
}

.question-statement{
  margin-bottom: 0.25rem;
}

.answer-items{
  display: flex;
  justify-content: space-between;
}

.navbar-brand{
  color: crimson;
  font-size: 2rem;
  font-variant: petite-caps;
}

.users-panel{
  margin: 1rem 2.5rem;
}